<div class="bg-blue">
 <div class="container">
  <div class="card" style="width: 30rem; margin: 0 auto; margin-top: 3rem; margin-bottom: 13rem; padding: 1rem">
   <div class="row justify-content-between">
    <div class="col-xs-12 col-sm4 col-sm-offset-4 col-md-12 col-lg-12">
     <div class="d-flex justify-content-center">
      <div class="position-relative">
       <span class="border-200" mb-3></span>
       <div class="card-body">
        <div class="row align-items-start">
         <h1>Edit My Planet</h1>
          <div><%= render 'form', planet: @planet %></div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
