<div class="banner">
 <div class="container">
  <div class="title-page" style="margin-top: 1rem ; margin-left: 2rem;"><h1>My Planets</h1></div>
  </div>
</div>

<div class="bg-blue">
 <div class="container">
  <div class="card" style="width: 30rem; margin: 0 auto; margin-top: 3rem; margin-bottom: 3rem; padding: 1rem">
   <div class="row justify-content-between">
    <div class="col-xs-12 col-sm4 col-sm-offset-4 col-md-12 col-lg-12">
     <div class="d-flex justify-content-center">
      <div class="position-relative">
       <span class="border-200" mb-3></span>
       <div class="card-body">
        <div class="row align-items-start">
         <h4 class="card-title" style="margin-bottom: 1.5rem">Edit My Planet</h4>
          <div><%= render 'form', planet: @planet %></div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
