

<%= render "renting_form", planet: @planet, renting: @renting %>


<div data-controller="toggle" class="mt-5">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book Planet</button>
  <div data-rentings-target="togglableElement" class="d-none">

  </div>
</div>
