<h1> Do you want to Rent a Planet ?</h1>
<p> Click on the below for all the collections </p>
<h4><%= link_to "Rent a Planet", planets_path, class: "btn btn-primary"%></h4>

<p> Main Planets Categories </p>

<div>
  <ul class="list-group">
    <% @categories.each_with_index do |category, index| %>
      <li class="list-group-item" aria-current="true"><%= category.name %></li>
    <% end %>
  </ul>
</div>

<% if user_signed_in?  %>
  you are signed in as <%= current_user.email %>
<% else %>
  you are not signed in
<% end %>
