<h1> Do you want to Rent a Plant ?</h1>
<p> Below our collection , you can choose a category </p>

<div>
  <ul class="list-group">
    <% @categories.each_with_index do |category, index| %>
      <li class="list-group-item <%= index == 0 ? 'active' : '' %>" aria-current="true"><%= category.name %></li>
    <% end %>
  </ul>
</div>


<% if user_signed_in?  %>
  you are signed in as <%= current_user.email %>
<% else %>
  you are not signed in
<% end %>
