// stylesheets/rentings.scss

body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

.show-renting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  img {
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h1 {
    margin-top: 20px;
    color: #333;
  }

  p {
    color: #666;
    font-size: 16px;
    margin: 10px 0;
  }

  a {
    margin-top: 30px;
    background-color: #007BFF;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
      text-decoration: none;
      color: white;
    }
  }
}
