.card-body {
font-family: "Dosis";
}

h4 {
font-family: "Dosis";
}

.card-header {
font-family: "Dosis";
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  background-color: #9ec5e7;
}

.btn-width {
  width: 100%;
}

.btn-primary {
  background-color: #205295
}
