.card-body {
font-family: "Dosis";
}

.banner {
background-image: url(stars_galaxy.jpg);
background-size: cover;
background-position: center;
padding: 70px 0px;
}

h4 {
font-family: "Dosis";
}

h1 {
  font-family: "Dosis";
  font-size: 50px;
  color: white;
}

.card-header {
font-family: "Dosis";
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  background-color: #d3dadb;
}

.btn-width {
  width: 100%;
}

.btn-primary {
  background-color: #133A80
}
