.card-index {
  border: none;
  background-color: white;
  font-family: "Dosis";
}

.image-index {
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  padding: 70px 0px;
}
